__pycache__/
*.pyc
.ipynb_checkpoints/
.DS_Store
Thumbs.db
data/raw/*.csv
data/raw/*.zip
data/processed/*.csv
data/processed/*.parquet
figures/generated/*
!figures/generated/.gitkeep
outputs/generated/*
!outputs/generated/.gitkeep
